{% extends 'base.html.twig' %}

{% block title %}Centre de Documentation et d'Informations
{% endblock %}

{% block body %}
	<div id='h1Home'>
		<h1>Notre selection de livres :</h1>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Image</th>
				<th>Titre</th>
				<th>Auteur</th>
				<th>Editeur</th>
			</tr>
		</thead>
		<tbody>
			{% for livre in livres %}
				<tr>
					<td><img src="{{ asset('assets/img/') ~ livre.image}}" alt="{{ livre.titre }}"></td>
					<td>{{ livre.titre }}</td>
					<td>{{ livre.auteur }}</td>
					<td>{{ livre.editeur }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
